@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@400;500;600;700;800&display=swap');

*{font-size: 1rem;}

:root {
    --font-header: 'Kanit', sans-serif;
    --font-para: 'Inter';
    --main-color: white;
    --accent-color: #031927;
    --CTA-color: #6F8695;
}

h {
    font-family: var(--font-header);
    font-size: 4rem;
    font-weight: bold;
}
p,li,a {
    font-family: var(--font-para);
}
body{
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
}

nav{
    top:0;
    left:0;
    position: relative;
    z-index: 1;
    width: 100vw;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: white;
    height: 100px;
}

#navLinks{
    list-style: none;
    display: flex;
}
nav > i {
    margin-left: 50px;
}

#navLinks > li{
    margin: 0 50px;
    font-size: 2rem;
    align-self: center;
    transition-duration: 0.3s;
}

#navLinks > li:hover{
    color: var(--CTA-color);
}


.Hero{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;height:70vh;
    background: linear-gradient(45deg, var(--CTA-color), var(--accent-color));
    background-position: center center;
    background-size: cover;
    margin: none;
    left: 0;
}
.Hero > h {
    color: var(--main-color);
    text-align: center;
}
.Hero > p {
    text-align: center;
    color: var(--main-color);
}

.AboutUs, .OurCustomers, .OurPlans {
    padding: 10px;
    background-color: var(--main-color);
}
.AboutUs > p {
    font-size: 2rem;
}
.card-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    text-align: center;
}
.card-container > card {
    border: 2px black dashed;
    padding: 10px 10px;
    margin: 10px;
    border-radius: 10px;
    width: 30%;
    transition: 0.3s ease;
}
.card-container > card:hover {
    transform: translate(0px,-5px);
}

.card-container > card > img {
    height: 20vh; width: 100%;
    border-radius:10px;
}
card > div  > h {
    font-size: 1.2rem;
}
card > img {
    object-fit: cover;
    object-position: center center;
}

/*Our Plans*/
.OurPlans > h{
    text-align: center;
}
.OurPlans > .cardContainer {
    display: flex;
    justify-content: center;
}
.PlansCards {
    padding: 10px;
    background: var(--accent-color);
    width: 20vw;
    margin: 0 20px;
    border-radius: 10px;
}
.PlansCards > #price {
    text-align: center;
    font-size: 2rem;
}
.PlansCards > * {
    color: white;
}
/*Contact us*/
.ContactUs {
    display: flex;
    align-items: center;
    justify-content: center;
}
.contactUsContainer {
    display: flex;
    justify-content: center;
    background-color: var(--CTA-color);
    max-width: 80vw;
    padding: 20px;
    border-radius: 10px;
}

.contactInfo {
    max-width: 40vw;
}
.contactInfo > h {
    font-weight: 500;
    font-size: 1.4rem;
}

.contactFormContainer > form{
    display: flex;
    flex-direction: column;
}
.contactFormContainer > form > input {
    border: none;
    padding: 5px 5px;
    margin: 10px 0;
}
